<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'main/components/head-meta.html' %}
    <link rel="stylesheet" href="{% static 'qr_code/css/qr_code.css' %}">
</head>
<body>
    {% include 'main/components/header.html' %}
    <main>
        {% include 'main/components/navbar.html' %}
        <section class="qr_module">
            <h1>QR Code Generator</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Generate QR Code</button>
            </form>
            
            {% if qr_image_base64 %}
                <div>
                    <br>
                    <a href="data:image/png;base64,{{ qr_image_base64 }}" download="qr_code.png">
                        <button type="button">Download QR Code</button>
                    </a>
                    <br>
                    <img src="data:image/png;base64,{{ qr_image_base64 }}" alt="QR Code">
                </div>
            {% endif %}
        </section>
    </main>
    <br>
    {% include 'main/components/footer.html' %}
    {% include 'main/components/accessibility.html' %}
</body>
</html>
