<div id="img_display" class="img_display">
    <span class="img_display_close_btn">&times;</span>
    <img class="img_display-content" id="img_display_bigimage">
    <div id="img_display_bigimage_caption"></div>
</div>

<script>
    var img_display = document.getElementById('img_display');
    var images = document.getElementsByClassName('display-img');
    var img_display_Img = document.getElementById("img_display_bigimage");
    var captionText = document.getElementById("img_display_bigimage_caption");
    
    
    for (var i = 0; i < images.length; i++) {
    var img = images[i];
    img.onclick = function(evt) {
        console.log(evt);
        img_display.style.display = "block";
        img_display_Img.src = this.src;
        captionText.innerHTML = this.alt;
    }
    }
    
    {% comment %} var span = document.getElementsByClassName("img_display_close_btn")[0]; {% endcomment %}
    var span = document.getElementsByClassName("img_display")[0];

    span.onclick = function() {
        img_display.style.display = "none";
    }
</script>