body {
    font-family: Arial, sans-serif;
    background: #303030;
    color: white;
    margin: 0;
    scroll-behavior: smooth;
}

/* Timer Links (Styled as Buttons) */
.timers {
    text-align: center;
    margin: 20px;
}

.timers a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #505050;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.timers a:hover {
    background: #707070;
}

.timers a:active {
    background: #909090;
}

/* Punctuation cleaning options */
.cleaning-options {
    text-align: center;
    margin: 20px;
}

.cleaning-options a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #505050;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.cleaning-options a:hover {
    background: #707070;
}

.cleaning-options a.active {
    background: #ff5733;
}

/* Text Display */
.text-display {
    display: block;
    font-family: monospace;
    font-size: 28px;
    transition: transform 1s ease-out;
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-display {
    display: block;
    font-family: monospace;
    font-size: 28px;
    transition: transform 1s ease-out;
}

.text {
    display: inline-block;
    white-space: pre;
    position: relative;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.caret {
    display: inline-block;
    width: 4px;
    height: 1.2em;
    background: white;
    position: absolute;
    top: 10px;
    animation: blink 1s steps(50) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#hidden-input {
    position: absolute;
    top: -100px;
    opacity: 0;
    pointer-events: none;
    color: transparent;
}

#wpm_stats {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: tomato;
}

#result {
    text-align: left;
    position: absolute;
    bottom: 0;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.remaining {
    color: gray;
}

#pause-message {
    position:fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    display: none;
}