<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'main/components/head-meta.html' %}
</head>
<body class="english">
    {% include 'main/components/header.html' %}
    {% include 'main/components/navbar.html' %}
    
    <main>

        <section class="content english">

            {% for category in categories %}
            <div class="horizontal_products_feed">
                <h2>{{ category.name }}</h2>
                <div class="horizontal_feed" id="feed-container-{{ category.id }}">
                    {% comment %} “fake” padding element at the start of the horizontal scroll {% endcomment %}
                    <div class="invisible-padding"></div>
                    
                    {% for product in category.products.all %}

                        {% if category.product_card_style == 'small_card' %}
                            <div class="product_card" style="height: 210px; text-align: left;   background-color: transparent;">
                                <img class="product_img displayer" style=" height: 150px; border-radius: 8px;" src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
                        {% else %}
                            <div class="product_card" style="height: 270px; text-align: center; background-color: {{ product.background_color }};">
                                <img class="product_img displayer" style="height: 215px;" src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
                        {% endif %}

                                <div class="product_footer">

                                    <h3>{{ product.name }}</h3>

                                    {% if product.title %}
                                        <p>{{ product.title }}</p>
                                    {% endif %}

                                    {% comment %} show description when hovering over image 
                                    <div class="product_description">
                                        <p>{{ product.description }}</p>
                                    </div>
                                    {% endcomment %}
                                </div>
                            </div>
                            {% endfor %}
                            <button class="scroll_arrow right_arrow" onclick="scrollRight('{{ category.id }}')">&gt;</button>
                </div>
            </div>
            {% endfor %}
            
            {% include 'main/components/map.html' %}
        </section>
    
    </main>

    {% include 'main/components/footer.html' %}
    {% include 'main/components/accessibility.html' %}
    {% include 'main/components/display-img.html' %}

    <!-- Scroll Button for Horizontal Feeds -->
    <script>
        function scrollRight(categoryId) {
            let container = document.getElementById(`feed-container-${categoryId}`);
            if (container) {
                console.log(`Scrolling Right for category: ${categoryId}`);
                container.scrollBy({ left: 300, behavior: 'smooth' });
            }
        }        
        // Hide arrows on touch devices
        document.addEventListener                
    </script>
</body>
</html>
