<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    
    <title>UNICORNER</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css">
</head>
<body class="eng">
    {% include 'main/components/header.html' %}
    
    <main>
        <section>
            <h1 class="center">This site is under development.</h1>
            <h2 class="center">UNICORNER - The Best Coffee Shop For Coders</h2>
        </section>
    </main>
    
    {% include 'main/components/footer.html' %}
</body>
</html>
