<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'main/components/head-meta.html' %}
</head>
<body class="hebrew">
    {% include 'main/components/header.html' %}
    {% include 'main/components/navbar.html' %}
    
    <main>
        <section>
            <h1 class="center">This site is under development</h1>
            <h2 class="center">UNICORNER - The Best Coffee Shop For Coders</h2>
        </section>
    </main>

    {% include 'main/components/map.html' %}
    {% include 'main/components/footer.html' %}
    {% include 'main/components/accessibility.html' %}
</body>
</html>
