:root {
    /* Theme Colors */
    --color-primary: rgb(30, 25, 15);
    --color-secondary: rgb(230, 240, 250);
    --color-accent: rgb(250, 150, 50);

    /* Background Colors */
    --color-bg-default:black;
    --color-bg-header: linear-gradient(0deg, rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.05));
    --color-bg-navbar: rgba(27, 25, 23, 0.8);
    --color-bg-sidebar: rgba(27, 25, 23, 0.7);
    --color-bg-footer: var(--color-primary);
    --color-bg-footer-credits: black;

    /* Text Colors */
    --color-text-default: rgb(255, 255, 255);

    /* Links Colors */
    --color-link-primary: rgb(250, 150, 50);  
    --color-link-primary-hover: wheat;
    --color-link-primary-active: red;
    
    --color-link-secondary: rgb(255, 255, 255);   
    --color-link-secondary-hover: wheat;
    --color-link-secondary-active: yellow;
    
    /* Borders*/
    --border-stile: 1px solid grey;

    /* Sizes */
    --padding-general: 15px;
    --margin-general: 15px;
    --font-size-general: 16px;
    --size-header: 24vh; /* height */
    --size-main-content: 1800px; /* width */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-default);
    margin: 0;
    padding: 0;
}

.english {
    direction: ltr;
    font-family: Arial, sans-serif;
    font-size: var(--font-size-general);
    line-height: 1.5;
    color: var(--color-text-default);
}

.hebrew {
    direction: rtl;
    font-family: Arial, sans-serif;
    font-size: var(--font-size-general);
    line-height: 1.5;
    color: var(--color-text-default);
}

main {
    background-color: var(--color-bg-default);
    margin: 0 auto;
    padding: var(--padding-general) 0;
    max-width: var(--size-main-content);
}

.center {
    text-align: center;
}

header {
    height: var(--size-header);
    background-image: var(--color-bg-header);
    padding: var(--padding-general);
}

header img {
    height: var(--size-header);
    width: auto;
    object-fit: cover;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    filter: invert(1);  /* reverce logo color */
    z-index: -1;
}

.map {
    overflow: hidden;
    height: 250px;
    margin: 0;
    padding: 0;
    border: var(--border-stile);
}

footer {
    background-color: var(--color-bg-footer);
    border-top: var(--border-stile);
    color: var(--color-text-default);
    width: 100%;
    padding: var(--padding-general) 0 0 0;
    margin: 0;
    text-align: center;
    line-height: 2;
}

footer img.social-icon {
    width: 32px;
    padding: 0;
    margin: 0 var(--margin-general);
}

footer img.social-icon:hover {
    width: 30px;
    margin: 0 calc(var(--margin-general) + 1px);
}

footer p {
    margin: var(--margin-general);
    padding: 0;
}

footer a {
    color: var(--color-link-secondary);
    text-decoration: none;
}

footer .credits {
    background-color: var(--color-bg-footer-credits);
    padding: 0;
    margin: 0;
}

footer .credits a {
    color: var(--color-accent);
}

/* screen reader only (not visible), used for accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* Prevent text wrapping */
    border: 0;
}
